/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/var/*
/var
/.idea/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/var/lib/mysql/
/var/lib/mysql/app_database/
/var/lib/mysql/mysql/
/var/lib/mysql/performance_schema/
/var/lib/mysql/sys/
/var/lib/mysql/.gitignore
/var/lib/mysql/auto.cnf
/var/lib/mysql/ca.pem
/var/lib/mysql/ca-key.pem
/var/lib/mysql/client-cert.pem
/var/lib/mysql/client-key.pem
/var/lib/mysql/ib_buffer_pool
/var/lib/mysql/ib_logfile0
/var/lib/mysql/ib_logfile1
/var/lib/mysql/ibdata1
/var/lib/mysql/ibtmp1
/var/lib/mysql/private_key.pem
/var/lib/mysql/public_key.pem
/var/lib/mysql/server-cert.pem
/var/lib/mysql/server-key.pem
