/node_modules
/public/hot
/public/storage
/public/img/mob
/storage/*.key
/vendor
/var/*
/var
/.idea/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/public/img/mob/
